{
    "openapi": "3.0.0",
    "info": {
        "title": "rent-a-dress",
        "description": "This is API for rent-a-dress.ru service",
        "version": "1.0.1"
    },
    "servers": [{ "url": "https://rent-a-dress.ru" }],
    "paths": {
        "/api/catalog": {
            "get": {
                "operationId": "getCatalog",
                "responses": {
                    "200": {
                        "description": "Return all items from catalog",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": { "$ref": "#/components/schemas/catalogItem" }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "newCatalogItem",
                "requestBody": {
                    "content": { "application/json": {
                            "schema": { "$ref": "#/components/schemas/catalogItem" }
                        } }
                },
                "responses": { "200": {
                        "description": "Return savead catalogItem",
                        "content": { "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/catalogItem"
                                }
                            } }
                    } }
            }
        }
    },
    "components": {
        "schemas": {
            "catalogItem": {
                "type": "object",
                "required": ["id", "caption", "desc", "img"],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "caption": {
                        "type": "string"
                    },
                    "desc": { "type": "string" },
                    "img": { "type": "string" }
                }
            }
        }
    }
}
